<p id="notice"><%= notice %></p>

<h1>Listing Driver Applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Phone</th>
      <th>Status</th>
      <th>City</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @driver_applications.each do |driver_application| %>
      <tr>
      	<% @user = User.find(driver_application.user_id)%>
      	<% @city = City.find(driver_application.city_id)%>
        <td><%= @user.full_name %></td>
        <td><%= driver_application.phone %></td>
        <td><%= driver_application.status %></td>
        <td><%= @city.name %></td>
        <td><%= driver_application.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= driver_application.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= link_to 'Show', driver_application %></td>
        <td><%= link_to 'Edit', edit_driver_application_path(driver_application) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver application', new_driver_application_path %>
